body{
background-color: indigo;
}
.App{
    text-align: center;
    color: beige;
}
.container{
    background-color: black;
    width: 500px;
    margin: auto;
    padding-bottom:20px ;
}
.mainHeading{
    margin: 25px;
}
.input-todo,.addtask-btn{
    padding: 10px;

    color: white;
}
.addtask-btn{
background-color:indigo;
border: 1px solid gray;

}
.input-todo{
    background-color: transparent;
    margin-bottom: 20px;

}
.todo-display{
    background-color: indigo;
    width: 55%;
    margin:3% 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox{
    float: left;
}
.todo{
    margin: auto;
}
i{
    margin-right: 8px;
}